*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #FAF7FD;
    font-family: 'Poppins', sans-serif;
}

#container{
    margin: auto;
    width: 100%;
  
}

#profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0 0;
}

#profile img{
    height: 213px;
    width: 213px;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid #B9D;
}

#profile p{
    font-size: 16px;
    font-weight: 300;
    color: #B9D;
    padding: 15px 0 33px;
}

ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    width: 326px;
    height: 49px;
    padding: 12px 40px;
    border: 2px solid #B9D;
    color: #B9D;
    border-radius: 4px;
}

#icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 68px;
    margin-bottom: 155px;
    
}
